# ignore everything
*

# re-allow gitignore itself
!.gitignore

# re-allow the directory (IMPORTANT)
!neural_network/
!neural_network/**

# but ignore these directories
neural_network/**/__pycache__/
neural_network/**/environment_files/